In [1]:
import pandas as pd

In [5]:
cv = pd.read_csv("/Users/abhishekrotti/Desktop/Python for DataScience/dataset 2/train_set.csv")

In [6]:
cv.head()

   visitor_id                                             visits
0           1   30 84 126 135 137 179 242 342 426 456 460 462...
1           2   24 53 75 134 158 192 194 211 213 238 251 305 ...
2           3   51 143 173 257 446 491 504 510 559 616 719 73...
3           4   1 20 22 92 124 149 211 335 387 390 406 460 48...
4           5   34 51 56 106 110 121 163 233 266 275 345 359 ...

In [7]:
cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   visitor_id  300000 non-null  int64
 1    visits     300000 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.6+ MB