In [19]:
import pandas as pd

In [20]:
tweets = pd.read_excel('tweets.xlsx')

In [21]:
tweets_df = pd.DataFrame(tweets)

In [22]:
tweets_df.head()

                                                text
0  RT @rssurjewala: Critical question: Was PayTM ...
1  RT @Hemant_80: Did you vote on #Demonetization...
2  RT @roshankar: Former FinSec, RBI Dy Governor,...
3                If not for Aam Aadmi, listen to th…
4  RT @ANI_news: Gurugram (Haryana): Post office ...

In [38]:

def clean_tweets(row):
    row = str(row)
    row = row.lower().replace('rt ', '').replace('@', '')
    print(row)
    
clean_tweets(tweets_df)

                                                    text
0      rssurjewala: critical question: was paytm ...
1      hemant_80: did you vote on #demonetization...
2      roshankar: former finsec, rbi dy governor,...
3                    if not for aam aadmi, listen to th…
4      ani_news: gurugram (haryana): post office ...
...                                                  ...
21346  saxenavishakha: ghost of demonetization re...
21347  n d modi fans-d true nationalists of the count...
21348  bharat_builder: lol. demonetization has fi...
21349  stupidosaur: vidyut b team of bjp. cia ba...
21350  vidyut b team of bjp. cia baby. cctv, evm but...

[21351 rows x 1 columns]